apiVersion: v1
kind: ConfigMap
metadata:
  namespace: ${NAMESPACE}
  name: ${APP_NAME}-configmap
  labels:
    team: ${TEAM}
    domain: ${DOMAIN}
    app: ${APP_NAME}
    app.kubernetes.io/name: ${APP_NAME}
    app.kubernetes.io/version: ${VERSION}
    app.kubernetes.io/part-of: ${APP_NAME}
    app.kubernetes.io/managed-by: kubectl
data:
  SUBSCRIPTION: ${SUBSCRIPTION}
  RESOURCE_GROUP: ${CLUSTER_RESOURCE_GROUP}
  ML_WORKSPACE: ${ML_WORKSPACE}
  MODEL_NAME: ${MODEL_NAME}
  MODEL_VERSION: "${MODEL_VERSION}"
  NLTK_DATA: ${CACHE_DIR}
  TRACING_EXPORTER: ${TRACING_EXPORTER}
  APPLICATIONINSIGHTS_CONNECTION_STRING: ${APPLICATIONINSIGHTS_CONNECTION_STRING}
